

@font-face { 
	font-family: Quicksand; 
	src: url('../fonts/Quicksand-Regular.ttf'); 
	} 
@font-face { 
	font-family:"Julius Sans One"; 
	src: url('../fonts/JuliusSansOne-Regular.ttf'); 
	} 
@font-face { 
	font-family: Raleway; 
	src: url('../fonts/Raleway-Regular.ttf'); 
	} 
@font-face { 
	font-family: "Special Elite"; 
	src: url('../fonts/SpecialElite-Regular.ttf'); 
	}
@font-face { 
	font-family: "Architects Daughter"; 
	src: url('../fonts/ArchitectsDaughter-Regular.ttf'); 
	}
@font-face { 
	font-family: "Inter"; 
	src: url('../fonts/Inter-Regular.ttf'); 
	}
@media print {  
  body * {
  	visibility: hidden;
  }
 
	.text-right {
  		text-align: right !important; 
  	}
 	.lims-border {
  		border: solid 2px #DDEEEE;
  	} 
	#batch_tabs .nav-pills > li > a {
	  border-radius: 4px 4px 0 0 ;
	}

	#batch_tabs .tab-content {
	  padding : 2px 2px 2px 2px;
	}
 	.section-to-print, .section-to-print * {
    	visibility: visible;
  	}
 	.section-to-print {
	  	-webkit-print-color-adjust: exact;
	    position: absolute;
	    left: 0;
	    top: 0;
	    max-width:100% !important; 
	    display:block
	  }
	 canvas { display:block; } 
  	.page-breaker {
    	page-break-after: always;
  	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family:"Raleway","Quicksand","Julius Sans One","Special Elite","Inter";
}

em {  color: red;
      font-weight: bold;
 }
 /* problem with select fonts in Firefox - need to be installed */
select,option {
	font-family:Raleway, Helvetica, Tahoma;
}
.offscreen { position: absolute; font-size:0.5em; left:-2000px; top:-2000px;}

.error-close {
	font-size: 1.6em;
	font-weight: bold;
}

.summary-table tr td {
	font-style: italic;
  	font-size: 1.0em;
  	text-align: center;
  	vertical-align: middle;
}
.summary-table tbody tr:last-child {
	background : #f5f5f5;
	font-style: normal;
	font-weight: bold;
  	border-top: 2px solid black;
}

.test-scroll {
  height: 160px;
 
  font-size: 0.8em;
  overflow-y: auto;
}
.test-scroll table tbody td{
  font-size:1.0em;
}

.breakword {
	overflow-wrap: break-word;
	word-break: break-all;
}

.tablevalue, .panel-body td {
	font-family: "Raleway";
	font-size: 12pt;
	padding:5px 10px 5px 20px;
	
}
/*
#compounds_table td {
	font-family: "Inter";
	font-size: 12pt;
}
*/
.tablevalue-forcebreak {
	font-family: "Raleway";
	font-size: 12pt;
	padding:5px 10px 5px 20px;
	word-break:break-all;
	
}
.tablelabel, td.tablelabel  {
	font-family: "Raleway";
	text-align:right;
	font-style: italic;
	padding:5px 10px 5px 20px;	
}
.tablevalue-straight {
	font-family: "Raleway";
	font-size: 12pt;
	padding:5px 10px 5px 20px;
}
.hide-me { display:none }


.publication { 
	font-style:italic; 
}
.post-it {
	font-family:"Special Elite";
	font-size:1.2em;
	position:absolute;
	z-index:1;
	word-wrap: break-word;
	width:370px;
	/*height:150px;*/ 
	margin: 2px;	
    padding: 15px;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    box-shadow: 1px 8px 4px -4px rgba(0, 0, 0, 0.16), 1px 8px 4px -4px rgba(0, 0, 0, 0.12) !important;
}
.page-header {	
	font-family: "Julius Sans One";
	margin-top:5px;
	padding-bottom:5px; 
	font-weight:bold;
	font-size:1.6em;
}
.section-header {
    border-bottom: 1px solid #aaa7ac;
    margin: 10px 0 10px;
    padding-bottom: 5px;
    font-size: 1.0em;
    font-weight:bold;
}
.project-header {	
	margin-left:5px; 
	margin-bottom:10px;
	padding:5px; 
	font-style:normal; 
	font-weight:normal;
	text-decoration:underline; 
	font-size:1.1em;
}
.palegrey {
	background-color: white;
  	margin-left:10px;
  	margin-right:10px;  	
}
.palegrey .row {
	padding:0px;
  	margin:5px;
	border: dashed 1px #eeeeee;	 
}
.palegrey .post-it .row {
	border: none;
}
.whitish {
	background-color: #fbfbfb;
	border-top:solid 20px #fcfcfc;
}
.blue {
	background-color: #b6ffff;
	border-top:solid 20px #c5ffff;
}
.yellow {
	border-top:solid 20px #fffaaa;
	background-color: #f4fa9d;
}
.orange {
	border-top:solid 20px #ffdb22;
	background-color: #ffcc05;
}
.green {
	border-top:solid 20px #d4ff88;
	background-color: #ccff55;
}
.pink {
	border-top:solid 20px #ff93ff;
	background-color: #ff80ff;
}
.author {
	font-style:italic;
    color: #aaaaaa;
    font-size: 0.8em;
    text-align:right;
}
div.shadow-panel {
	margin: 5px;
	background-color: #f4faff;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;   
}
.search-panel {
 	border-right: dotted 0px grey;	 
	padding:5px;
}

.sample-matrix {
	font-weight:bold;	
    color:#000000;
    text-transform:uppercase;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-primary {
    background-color: #125455;
    color: #fff;
}

.btn-primary:disabled {
    background-color: #125455;
}

.btn-primary:active, .btn-primary:hover{
    background-color: #1f9294;
    border-color: #187375;
    color: #fff;
}

a {
  color: #1f9597;  
}

a:hover, a:focus {
    color: #1f9294;
    text-decoration: underline;
}

.bc-back {
	border-bottom: dotted 0px grey;
}
.bc-back:before {
        font-family: "Font Awesome 5 Free";        
        padding: 3px;        
        content: '\f0a8'; 
    }

.fa-notes-icon:before {
    font-family: "Font Awesome 5 Free";
    margin-left:-10px;
    padding: 2px;
    content: '\f12a';
    font-weight: 900;
    color: #6600cc;
}
       
.login-panel {	
  	padding:30px;
  	margin-top:10px;
}

.navbar-custom {
	font-family:"Julius Sans One";
  	background-color: #125455;
  	color: white;
  	padding-top:1px;
  	padding-left:1px;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0px;
}

.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fea968;
  background-color: transparent;
}

.navbar-custom .navbar-text {
  color: white;
}

.navbar-custom .navbar-nav > li > a {
  color: white;
}

.lims-menu > li > a {
 color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 15px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: white;
  background: rgba(255,255,255,0.2);
}

.nav-tabs  {
   	font-family:"Julius Sans One";
  	background-color: #fff;
  	border-bottom: solid 1px #125455;
}  
  
.nav-tabs > li > a {
  	background-color: #eeeeee;  
	font-weight:bold;
	width:100%;
	border-bottom:0px;
	border-top: dotted 1px;
	border-left: dotted 1px;
	border-right: dotted 1px;
	border-bottom-color:transparent;	
	color: #125455;	
}

 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:hover,
 .nav-tabs > li.active > a:focus {
	font-weight:bold;
    border-top: solid 2px #7c64a5;
    border-right: solid 2px #7c64a5;
    border-left: solid 2px #7c64a5;
    border-bottom: 0px;
    border-bottom-color: transparent;
    color: #125455;	/* border and text */
    background-color: white;  
} 
   
.grid-ref { display: none }
.row-centered { text-align:center;margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px; padding:0px}	

.tube-centered {vertical-align:top; display:inline-block; float:none; text-align:center; margin-right:-4px; padding:10px; border:1px solid #52c35d; background:#ffffff}	

.tube-no-border {width:60px; vertical-align:top; display:none; float:none; text-align:center; margin-right:-4px; padding:10px;} 

.well-selected {vertical-align:top; display:inline-block; float:none; text-align:center; margin-right:-4px; padding:10px; border:1px solid #524278; background:#c6f8d0}

.well-centered {vertical-align:top; display:inline-block; float:none; text-align:center; margin-right:-4px; padding:10px; border:1px solid #524278; background:#ffffff}

.selected-row { 
	background: #d1e5e5;
	border: 1px solid #c2d5d5;
}
  
.sample {
    position:relative;
    margin-bottom:8px;
	font-size:12px;
	font-weight:bold;	
    text-align:center;
}

.chosen {
	border: 1px dotted #567606;
	color: #6600cc;
	padding:5px;
	background-color: #ffffff;
	box-shadow: 1px 8px 4px -4px rgba(0, 0, 0, 0.16), 1px 8px 4px -4px rgba(0, 0, 0, 0.12) !important;
	font-weight:bold;
	text-transform: uppercase;
}	
.sample::after {
	content: attr(data-pos);
}
	
.totals {
  	background : #f4f5f6;
  	border-top: 2px solid black;
}
.notes {
	vertical-align:top; display:inline-block; float:none; text-align:center; margin-right:-4px; 
}

.sample_1 {	background : #e13b00;	color:white;  	text-transform: uppercase;}
.sample_2 {	background : #fcf3b8;	color:black;  	text-transform: uppercase;}
.sample_3 { background : #fded58;  	color:black;  	text-transform: uppercase;}
.sample_4 { background : #8e6414;  	color:white;  	text-transform: uppercase;}
.sample_5 { background : #f8ad89;  	color:black;  	text-transform: uppercase;}
.sample_6 { background : #a6576b;  	color:white;  	text-transform: uppercase;}
.sample_7 { background : #fcbbf5;  	color:black;  	text-transform: uppercase;}
.sample_11 { background : #fbc7c0;  color:black;  	text-transform: uppercase;}
.sample_12 { background : #ca8e1d;  color:white;  	text-transform: uppercase;}
.sample_13 { background : #fc75e1;  color:black;  	text-transform: uppercase;}
.sample_14 { background : #e0dfa0;  color:black;  	text-transform: uppercase;}
.sample_15 { background : #edc9c2;  color:black;  	text-transform: uppercase;}
.sample_16 { background : #f85ca4;  color:white;  	text-transform: uppercase;}
.sample_17 { background : #ece3b2;  color:black;  	text-transform: uppercase;}
.sample_18 { background : #cbccff;  color:black;  	text-transform: uppercase;}
.sample_19 { background : #ed955f;  color:white;  	text-transform: uppercase;}
.sample_20 { background : #fc389d;  color:white;  	text-transform: uppercase;}
.sample_21 { background : #fcd576;  color:black;  	text-transform: uppercase;}
.sample_22 { background : #dcc4d8;  color:black;  	text-transform: uppercase;}
.sample_23 { background : #e083a5;  color:white;  	text-transform: uppercase;}
.sample_24 { background : #dbffcb;  color:black;  	text-transform: uppercase;}
.sample_25 { background : #ffe8e6;  color:black;  	text-transform: uppercase;}
.sample_26 { background : #e0ff98;  color:black;    text-transform: uppercase;}
.sample_27 { background : #7fffa7;  color:black;    text-transform: uppercase;}
.sample_28 { background : #ffb91c;  color:black;    text-transform: uppercase;}
.sample_29 { background : #bed506;  color:black;    text-transform: uppercase;}
.sample_30 { background : #cc7c04;  color:white;    text-transform: uppercase;}
.sample_31 { background : #b7ff5a;  color:black;    text-transform: uppercase;}
.sample_32 { background : #d1ac9e;  color:black;    text-transform: uppercase;}
.sample_33 { background : #fffc67;  color:black;    text-transform: uppercase;}
.sample_34 { background : #e4ed7c;  color:black;    text-transform: uppercase;}
.sample_35 { background : #fd9a07;  color:black;    text-transform: uppercase;}
.sample_36 { background : #ddffbf;  color:black;    text-transform: uppercase;}
.sample_37 { background : #b19286;  color:white;    text-transform: uppercase;}


.unclickable {
	color:#111111;
}

.box-width   {
    width: 500px;   
 }
  
.plate-width  {
    width: 650px;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table { 
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th, 
.table-responsive>.table>tbody>tr>th, 
.table-responsive>.table>tfoot>tr>th, 
.table-responsive>.table>thead>tr>td, 
.table-responsive>.table>tbody>tr>td, 
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}
.slides-table {
   	border: solid 1px black; 
    margin-left:auto; 
    margin-right:auto;
   	font-family: "Open Sans","Helvetica Neue","Arial","Verdana","Geneva",sans-serif !important;
}
.slides-event {
	font-size: 0.7em;
	min-height:15px;
}
.slides-table thead th {
	background-color: #d1e5e5;
	margin: 10px;
  	border: dashed 1px black; 	
  	text-align: center;
  	font-weight: bold;
  	vertical-align: middle;
	font-size: 12pt;
	padding:10px 10px 10px 10px;
}

.slides-table td {
	margin: 0 auto;
	background-color: #f1f7f7;
  	border: dashed 1px black; 	
  	text-align: center;
  	vertical-align: middle;
	font-size: 12pt;
	padding:10px 10px 10px 10px;
}
.slides-qc {
	margin:2px; 
	padding:2px; 
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 35px;
    line-height: 1.33;
    text-align: center;
    border:1px solid #4c6fa1; 
    background: #fef8f3;
}
.slides-centered { 
	margin:2px; 
	padding:2px; 
	width:75%;
	min-width:100px; 
	height:50px; 
	min-height:50px;
	word-wrap: break-word; 
	font-size: 0.7em;
	font-weight:bold;	
	display:inline-block;
	text-align:center; 
	border:1px solid #4c6fa1; 
	background:#fef8f3; /*#fef6eb;*/
	border-radius: 15px 15px 15px 15px ;
}
.slides-empty { 
	margin:2px; 
	padding:2px; 
	min-width:100px; 
	height:50px; 
	display:inline-block;
	background:#f1f7f7;
}